name: ci

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [2.7, 3.6, 3.7, 3.8, 3.9, "3.10"]
        node-version: [16]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Use Node ${{ matrix.node-version }}
        uses: actions/setup-node@v2

      - name: Test Node exit status
        run: node -e 'throw new Error("foo")' || echo $?

      - name: Install requirements
        run: |
          pip install -r requirements.txt
          make node_deps

      - name: Lint
        if: matrix.python-version == '3.10'
        run: make lint

      - name: Coverage
        run: make coverage

      - name: Bench
        run: make bench

      - name: Coveralls
        if: matrix.python-version == '3.10'
        run: coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
